#fr {
  height: 300px;
  width: 30%;
  background-color: rgba(255, 255, 255, 0.13);
  margin: auto;
  position: absolute;
  top: 20px;
  left: 25%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
 gap: 10px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}
.b {
  width: 35vw;
}
form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

::placeholder {
  color: #e5e5e5;
}
.b {
  margin-top: 5px;
  margin-left: 2%;
  width: 30vw;
  background-color: rgb(182, 225, 197);
  color: #080710;
  padding: 15px 0;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.social {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.social div {
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255, 255, 255, 0.27);
  color: #eaf0fb;
  text-align: center;
}
.social div:hover {
  background-color: rgba(255, 255, 255, 0.47);
}
.social .fb {
  margin-left: 25px;
}
.social i {
  margin-right: 4px;
}
