.EditUser{
    display: flex;
    position: absolute;
    top: 29px;
    left: 350px;
    width: 800px;
    height: 620px;
    background-color:rgb(90, 90, 186);
    border-radius: 2%;
}
#save{
    position: relative;
    top: 100px;
}

.edit_password{
    position: relative;
    right: 150px;
}
.inpt{
    width: 350px;
    background-color: gray;
}
.btnEdituser{
    width: 550px;
    border: none;
    position: relative;
    left: 55px;
    background-color: rgb(116, 209, 136);
}