
.SideBar-container{
    position: absolute;
   height: 880px;
    display: flex;
    flex-direction: column;
    background-color: rgb(134, 157, 187);
    width: 20%;
}
.InptSrch{
    width: 80%;
    margin-left: 2%;
    outline: none;
    border-style: hidden;
    color: white;
}
.TitSideBar,.Srch,.prd,.aprd,.profile,.log,.sig,.lgout{
  margin-left: 2%;
   height: 50px;
   background-color:rgb(134, 157, 187);
    border: none;
    cursor: pointer;
    width:25px;
    font-weight: bold;
}

@media (max-width: 830px) {
    .SideBar-container{
        position: sticky;
        top:0px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 100px;
        background-color: rgb(134, 157, 187);
        width: 100%;
    }
    .InptSrch{
        width: 20%;
        margin-left: 0%;
    }
}